# Ignore Python virtual environment
env/

# Ignore environment variables file
.env

# Ignore this specific HTML file
code_writing.html

# Ignore zip archive
nurseryproject.zip

# Ignore SQLite database
db.sqlite3
