# Ignore Python virtual environment
venv/

# Ignore environment variables file
.env

# Ignore this specific HTML file
code_writing.html

# Ignore zip archive
nurseryproject.zip

# Ignore SQLite database
db.sqlite3
dev.nix
.vscode/
nurseryproject (2).zip
nurseryproject.zip
